<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Forms" version="3.1.0.697729" targetFramework="xamarinmac20" />
  <package id="XamTop.ContextMenu" version="0.1.0.10" targetFramework="xamarinmac20" />
  <package id="XamTop.DesktopTrayIcon" version="0.1.2.1" targetFramework="xamarinmac20" />
</packages>